# Loading data into Database
* Reference the DB_schema to create the schema in postgres
* (make sure not add constraints to your schema before loading your data)
#### Imports

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plot
from sqlalchemy import create_engine
from db_setup import pg_user, pg_password, db_name
import plotly.graph_objs as go

#### Connecting to the database

In [21]:
engine = create_engine('postgresql+psycopg2://postgres:216724401@localhost:5432/health_db')

#### Checking table schema

In [22]:
engine.table_names()

['location', 'search_condition', 'leading_causes_of_death']

#### Adding data to schema

In [23]:
location = 'location.csv'
search_condition = 'search_condition.csv'
leading_causes_of_death = 'leading_causes_of_death.csv'


location  = pd.read_csv(location , index_col=0)
search_condition = pd.read_csv(search_condition, index_col=0)
leading_causes_of_death = pd.read_csv(leading_causes_of_death, index_col=0)

In [24]:
location.to_sql(name='location', con=engine, if_exists='append', index=True)
search_condition.to_sql(name='search_condition', con=engine, if_exists='append', index=True)
leading_causes_of_death.to_sql(name='leading_causes_of_death', con=engine, if_exists='append', index=True)

In [25]:
search_condition

,Cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
location_id,,,,,,,,,,
662,27,0,16,67,17,50,32,28,45,2004
525,44,5,12,43,27,24,16,18,46,2004
532,47,7,14,49,18,34,19,26,31,2004
790,43,6,13,44,13,30,13,32,45,2004
644,36,0,49,64,26,51,44,38,55,2004
...,...,...,...,...,...,...,...,...,...,...
550,70,34,83,58,53,74,67,54,75,2017
810,58,25,60,62,34,78,72,48,80,2017
536,73,23,73,71,58,70,84,45,80,2017
771,57,57,55,60,36,65,71,48,80,2017
596,68,16,72,82,77,79,90,42,83,2017

In [26]:
#Correlation Between Health Conditions

In [27]:
health_conditions=search_condition.reset_index()
health_conditions

,location_id,Cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
0,662,27,0,16,67,17,50,32,28,45,2004
1,525,44,5,12,43,27,24,16,18,46,2004
2,532,47,7,14,49,18,34,19,26,31,2004
3,790,43,6,13,44,13,30,13,32,45,2004
4,644,36,0,49,64,26,51,44,38,55,2004
...,...,...,...,...,...,...,...,...,...,...,...
2935,550,70,34,83,58,53,74,67,54,75,2017
2936,810,58,25,60,62,34,78,72,48,80,2017
2937,536,73,23,73,71,58,70,84,45,80,2017
2938,771,57,57,55,60,36,65,71,48,80,2017
2939,596,68,16,72,82,77,79,90,42,83,2017

In [28]:
health_conditions=health_conditions[["Cancer","cardiovascular","stroke","depression","rehab","vaccine","diarrhea","obesity","diabetes"]]
health_conditions

,Cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes
0,27,0,16,67,17,50,32,28,45
1,44,5,12,43,27,24,16,18,46
2,47,7,14,49,18,34,19,26,31
3,43,6,13,44,13,30,13,32,45
4,36,0,49,64,26,51,44,38,55
...,...,...,...,...,...,...,...,...,...
2935,70,34,83,58,53,74,67,54,75
2936,58,25,60,62,34,78,72,48,80
2937,73,23,73,71,58,70,84,45,80
2938,57,57,55,60,36,65,71,48,80
2939,68,16,72,82,77,79,90,42,83

In [32]:
corrrelation=health_conditions.corr()
corrrelation

corrrelation.to_csv('out.csv')

In [ ]:
# plot the correlation matrix
corrMatrix=corrrelation.corr()
sns.heatmap(corrMatrix,annot=True)
plt.savefig("corrmatrix.png", bbox_inches="tight")
plt.show()